cachetools==5.2.0
catboost==1.0.5
coverage==7.0.4
efficientnet==1.1.1
gitdb==4.0.10
GitPython==3.1.29
h5py==3.7.0
jupyter==1.0.0
jupyter-client==7.2.1
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keras==2.11.0
Keras-Applications==1.0.8
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
notebook==6.4.11
numpy==1.22.3
openai==0.27.4
packaging==21.3
pandas==1.4.1
pydeck==0.8.0
pydicom==2.3.1
pydot==1.4.2
pytest==7.2.0
pytest-cov==4.0.0
python-dateutil==2.8.2
rasterio==1.3.4
scikit-image==0.20.0
scikit-learn==1.1.3
seaborn==0.11.2
six==1.16.0
streamlit==1.15.2
tenacity==8.0.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
typing_extensions==4.4.0
tzdata==2022.7
tzlocal==4.2
uritemplate==3.0.1
urllib3==1.26.9